.achievement-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $grey;
  border-radius: 8px;
  padding: 16px 24px;
  transition: background-color .2s ease, border-color .2s ease;

  &:hover {
    background-color: $darkGrey;
    border-color: $darkGrey !important;
  }

  &._first {
    border-color: $gold;
  }

  &._second {
    border-color: $silver;
  }

  &._third {
    border-color: $bronze;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__logo {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    max-width: 217px;
    width: 100%;
    margin-left: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__info {
    margin-left: 32px;
    color: $grey;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }

  &__date {
    margin-bottom: 8px;
  }

  &__cup {
    display: flex;
    width: 48px;
    flex-shrink: 0;
    margin-left: 32px;
  }

  &._first &__cup path {
    fill: $gold;
  }

  &._second &__cup path {
    fill: $silver;
  }

  &._third &__cup path {
    fill: $bronze;
  }
}


@media (max-width: 650px) {
  .achievement-card {
    position: relative;
    padding-bottom: 51px;

    &__info {
      position: absolute;
      left: 0;
      bottom: 16px;
      margin-left: 0;
      width: 100%;
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    &__date {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 500px) {
  .achievement-card {
    padding: 16px 16px 51px;

    &__info {
      padding: 0 16px;
    }

    &__title {
      margin-left: 16px;
    }

    &__cup {
      margin-left: 24px;
      width: 40px;
      
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 350px) {
  .achievement-card {
    flex-direction: row-reverse;

    &__logo {
      display: none;
    }

    &__title {
      margin-left: 0;
    }

    &__cup {
      margin-left: 0;
      margin-right: 16px;
    }
  }
}