.invitation-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #32343f;
  border-radius: 8px;
  overflow: hidden;

  &__content,
  &__btn {
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $darkGrey;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
  }

  &__content:hover &__logo {
    background-color: $darkBlue;
  }

  &__logo {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: $darkGrey;
    transition: background-color 0.2s ease;

    &-img {
      width: 100%;
      height: 100%; 
      object-fit: cover;
    }

    &-game {
      max-width: 24px;
      height: 24px;
    }
  }

  &__info {
    margin-left: 16px;
    letter-spacing: 0.02em;
  }

  &__title {
    font-weight: 500;
  }

  &__game {
    font-size: 14px;
    line-height: 17px;
    color: $grey;
    margin-top: 5px;
  }

  &__btns {
    display: flex;
    flex-shrink: 0;
  }

  &__btn {
    height: 100%;
    width: 56px;
    border-left: 2px solid $darkGrey;
    background-repeat: no-repeat;
    background-position: center;

    &._access {
      background-image: url("../../img/icons/access.svg");
    }

    &._delete {
      background-image: url("../../img/icons/cancel.svg");
    }
  }
}


@media (max-width: 450px) {
  .invitation-card {
    flex-direction: column;

    &__btn {
      height: 50px;
      width: 100%;
      border-top: 2px solid $darkGrey;
      border-left: none;
      
      & + & {
        border-left: 2px solid $darkGrey;
      }
    }
  }
}