.news-card {
  width: 410px;
  flex-shrink: 0;
  background-color: $darkBlue;
  border-radius: 8px;
  height: 303px;
  overflow: hidden;

  &__preview {
    position: relative;
    height: 174px;
  }

  &__img {
    position: relative;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      transition: all .2s ease;
    }
  }

  &:hover &__img img {
    width: 106%;
    height: 106%;
    left: -3%;
  }

  &__date {
    position: absolute;
    letter-spacing: 0.02em;
    border-radius: 8px 0px 0px 8px;
    padding: 2px 10.5px;
    background: $gradient;
    right: 0;
    top: 16px;
  }

  &__body {
    padding: 24px;
  }

  &__text {
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 27px;
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .news-card {
    width: 290px;
    height: 239px;

    &__preview {
      height: 135px;
    }

    &__body {
      padding: 16px;
    }

    &__text {
      line-height: 24px;
    }
  }
}