.team-card {
  width: 100%;
  border: 2px solid $darkGrey;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $darkGrey;
  }

  &:hover &__logo {
    background-color: $darkBlue;
  }

  &__logo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $darkGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    transition: background-color 0.2s ease;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-game {
      max-width: 24px;
      height: 24px;
    }
  }

  &__content,
  &__info {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 24px;
  }

  &._short &__info {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }

  &__name {
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__users {
    margin-left: 16px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: $grey;
    flex-shrink: 0;
  }

  &._short &__users {
    margin-left: 0;
    margin-top: 5px;
  }

  &__game {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: $grey;
    text-transform: uppercase;
    margin-left: 24px;
    flex-shrink: 0;
  }
}


@media (max-width: 1200px) {
  .team-card {
    &__info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__users {
      margin-left: 0;
      margin-top: 3px;
      flex-shrink: 1;
    }
  }
}

@media (max-width: 960px) {
  .teams {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .team-card {
    &__info {
      flex-direction: row;
      align-items: center;
    }

    &__users {
      margin-top: 0;
      flex-shrink: 0;
      margin-left: 16px;
    }
  }
}

@media (max-width: 850px) {
  .team-card {
    &._short &__info {
      flex-direction: row;
    }

    &._short &__users {
      margin-top: 0;
      margin-left: 16px;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 580px) {
  .team-card {

    &._short &__info,
    &__info {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 16px;
    }

    &._short &__users,
    &__users {
      margin-left: 0;
      margin-top: 3px;
      flex-shrink: 1;
    }
  }
}

@media (max-width: 500px) {
  .team-card {
    padding: 16px;
  }
}

@media (max-width: 420px) {
  .team-card {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
    &__game {
      margin-left: 0;
      margin-top: 15px;
      width: 100%;
      text-align: right;
      padding-left: 150px;
    }

    &._short &__users,
    &__users {
      position: absolute;
      bottom: 16px;
      left: 16px;
      margin-top: 0;
    }
  }
}