.tournament-card {
  width: 410px;
  flex-shrink: 0;
  background-color: $darkBlue;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__preview {
    position: relative;
    height: 192px;
  }

  &__img {
    position: relative;
    height: 100%;
    overflow: hidden;
    
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .2s ease;
    }
  }

  &:hover &__img img {
    width: 106%;
    height: 106%;
    top: -3%;
    left: -3%;
  }

  &__status {
    position: absolute;
    right: 0;
    top: 24px;
    border-radius: 8px 0px 0px 8px !important;
  }

  &__content {
    padding: 16px 22px;
    background-color: $darkGrey;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content-info {
    line-height: 27px;
    font-weight: 500;
  }

  &__game-logo {
    display: flex;
    justify-content: flex-end;
    margin-left: 24px;
    margin-top: 4px;
    width: 48px;
    flex-shrink: 0;
    
    img {
      max-width: 48px;
      height: 48px;
    }
  }

  &__info-box {
    padding: 24px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info,
  &__award {
    padding: 0 24px;
  }

  &__info {
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px;
  }

  &__info-item +  &__info-item {
    margin-top: 16px;
  }

  &__info-title {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: $grey;
  }

  &__info-text {
    color: #fff;
  }

  &__award {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0px 16px 16px 0px;
    max-width: 387px;
    min-width: 343px;
    margin-top: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: $gradient;
  }

  &__award-text {
    line-height: 27px;
  }

  &__award-value {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    flex-shrink: 0;
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  .tournament-card {
    width: 290px;
    position: relative;

    &__info-item {
      flex-direction: column;

      & + & {
        margin-top: 12px;
      }
    }

    &__info-title {
      margin-bottom: 3px;
    }

    &__content-info {
      line-height: 24px;
    }

    &__info,
    &__award {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__info {
      margin-bottom: 16px;
    }

    &__info-box {
      padding: 12px 0 0;
    }

    &__content {
      padding: 12px 16px;
    }

    &__game-logo {
      width: 25px;
      margin: 0;
      position: absolute;
      top: 101px;
      right: 9px;

      img {
        max-width: 25px;
        height: 25px;
      }
    }

    &__award {
      min-width: 0;
      max-width: none;
      width: 100%;
      border-radius: 0;
    }

    &__award-text {
      line-height: 24px;
    }

    &__award-value {
      font-size: 22px;
      line-height: 33px;
    }

    &__preview {
      height: 135px;
    }

    &__status {
      top: 14px;
    }
  }
}