@import 'common/fonts';
@import 'common/vars';
@import 'common/animations';
@import 'common/global';

.logo {
  display: flex;

  img {
    max-width: 102px;
    max-height: 40px;
  }
}

@import 'elements/btns';
@import 'elements/inputs';
@import 'elements/containers';
@import 'elements/titles';
@import 'elements/socials';
@import 'elements/breadcrumbs';
@import 'elements/postscript';
@import 'elements/modals';
@import 'elements/pagination';
@import 'elements/notItems';
@import 'elements/preloader';

@import 'parts/header';
@import 'parts/sidebar';
@import 'parts/main';
@import 'parts/section';
@import 'parts/footer';
@import 'parts/postPage';

@import 'parts/news';
@import 'cards/news';

@import 'cards/tournament';
@import 'parts/tournaments';

@import 'parts/teams';
@import 'cards/team';
@import 'cards/teamUser';

@import 'parts/profile';

@import 'parts/achievements';
@import 'cards/achievement';

@import 'parts/invitations';
@import 'cards/invitation';

@import 'common/media';
