.achievements {
  &__item + &__item {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .achievements {
    &__item + &__item {
      margin-top: 20px;
    }
  } 
}

@media (max-width: 500px) {
  .achievements {
    &__item + &__item {
      margin-top: 16px;
    }
  }
}