.footer {
  background-color: $darkBlue;
  padding: 64px 0 55px;

  &._post {
    background-color: transparent;
    padding: 0;
  }

  &__logo {
    margin-bottom: 16px;

    img {
      max-width: 212px;
      max-height: 83px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &._post &__inner {
    border-top: 1px solid $darkGrey;
    padding: 16px 0 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: $grey;
    
    & + & {
      margin-left: 35px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: $grey;
    margin-bottom: 32px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item + &__nav-item {
    margin-left: 32px;
  }

  &__nav-link {
    color: $grey;
    transition: color .2s ease;

    &:hover {
      color: $white;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__socials {
    margin-bottom: 69px;
  }

  &__policy,
  &__text a {
    color: $grey;
      position: relative;
      transition: color .2s ease;

      &::before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $grey;
        transition: background-color .2s ease;
      }

      &:hover {
        color: $white;

        &::before {
          background-color: $white;
        }
      }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__column._info {
    align-items: flex-end;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__info + &__info {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba($grey, .2);
  }

  &__info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  &__info-list {
    flex-direction: column;
  }

  &__info-item + &__info-item {
    margin-top: 8px;
  }

  &__info-name {
    color: $grey;
    letter-spacing: 0.02em;
  }

  &__info-link {
    color: $lightGreen;
    transition: color .2s ease;

    &:hover {
      color: $lightGreenHover;
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    &__logo img {
      max-height: 70px;
      max-width: 177px;
    }

    &__title {
      font-size: 22px;
      line-height: 26px;
    }

    &__socials {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 1300px) {
  .footer {
    padding: 55px 0;

    &__inner {
      position: relative;
    }

    &__column._socials {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &__column._socials &__title {
      display: none;
    }

    &__socials {
      margin-bottom: 32px;
    }

    &__column._content {
      padding-bottom: 138px;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    &__logo img {
      max-height: 60px;
      max-width: 152px;
    }

    &__description {
      margin-bottom: 24px;
    }

    &__column._content {
      padding-bottom: 126px;
    }

    &__socials {
      margin-bottom: 24px;
    }

    &._post &__inner {
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 48px 0;

    &:not(._post) &__inner {
      flex-direction: column;
    }

    &__column {
      & + & {
        margin-top: 32px;
      }

      &._content {
        padding-bottom: 0;
      }

      &._socials {
        position: static;
        order: 1;
      }

      &._info {
        align-items: flex-start;
      }
    }

    &__socials {
      position: absolute;
      top: 6px;
      right: 0;
      margin-bottom: 0;
    }

    &__info {
      align-items: flex-start;

      & + & {
        margin-top: 16px;
        padding-top: 16px;
      }
    }

    &__info-title {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 22px;
    }
  }
}

@media (max-width: 650px) {
  .footer {
    &._post &__inner {
      flex-direction: column;
    }

    &__text + &__text {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 0;

    &__socials {
      position: static;
    }

    &__nav-list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav-item + &__nav-item {
      margin-left: 0;
      margin-top: 16px;
    }

    &__title {
      font-size: 19px;
      line-height: 23px;
      margin-bottom: 16px;
    }

    &__socials {
      margin-bottom: 20px;
    }

    &__logo img {
      max-width: 137px;
      max-height: 54px;
    }
  }
}