.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $darkBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px 24px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;

  &__info {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding: 8px 32px 8px 0;
    border-right: 1px solid $darkGrey;
    margin-right: 56px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item + &__nav-item {
    margin-left: 40px;
  }

  &__nav-link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 1px;
      width: 0;
      background-color: $white;
      transition: width 0.2s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn + &__btn {
    margin-left: 40px;
  }

  &__profile,
  &__menu-profile {
    color: #fff;
    position: relative;
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      width: 22px;
      height: 25px;
      left: 0;
      top: 0;
      bottom: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../img/icons/profile.svg");
    }
  }

  &__mobile-btn {
    display: none;
  }

  &__menu {
    display: none;
  }
}

@media (max-width: 1440px) {
  .header {
    padding: 20px 25px;

    &__logo {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: 32px;
    }

    &__btn + &__btn {
      margin-left: 32px;
    }

    &__nav-item + &__nav-item {
      margin-left: 32px;
    }
  }
}

@media (max-width: 1080px) {
  .header {
    padding: 25px;

    &__logo {
      padding: 0;
      border: none;
    }

    &__nav,
    &__btns,
    &__profile {
      display: none;
    }

    &__mobile-btn {
      display: flex;
      flex-direction: column;
      width: 26px;
      position: relative;

      div {
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: $white;
        transition: all .2s ease;
      }

      div:nth-child(1),
      div:nth-child(3) {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
      }

      div:nth-child(1) {
        top: 0;
      }

      div:nth-child(3) {
        bottom: 0;
      }

      div:nth-child(2) {
        margin: 8px 0;
      }
    }

    &._menu &__mobile-btn {
      div:nth-child(1) {
        bottom: 0;
        transform: rotate(45deg);
      }

      div:nth-child(2) {
        opacity: 0;
      }

      div:nth-child(3) {
        top: 0;
        transform: rotate(-45deg);
      }
    }

    &__menu {
      position: absolute;
      background-color: $darkBlue;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 100%);
      padding: 0 25px;
    }

    &__menu-box {
      border-top: 1px solid $darkGrey;
      padding: 25px 0;
      height: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }
  
      &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: $darkGrey;
      }
    }

    &__menu-item + &__menu-item {
      margin-top: 20px;
    }

    &__menu-btns {
      display: flex;
      margin-top: 32px;
    }

    &__menu-btn + &__menu-btn {
      margin-left: 24px;
    }

    &__menu-profile {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 20px 15px;

    &__menu {
      padding: 0 15px;
    }

    &__logo img {
      max-height: 36px;
      max-width: 91px;
    }

    &__menu-btn + &__menu-btn {
      margin-left: 20px;
    }
  }
}


@media (min-width: 1081px) {
  .header__menu {
    display: none !important;
  }
}