.invitations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
} 

@media (max-width: 870px) {
  .invitations {
    grid-template-columns: 1fr;
    gap: 20px;
  } 
}

@media (max-width: 500px) {
  .invitations {
    gap: 16px;
  }
}