.main {
  &__item {
    position: relative;
    height: 847px;
    padding-bottom: 145px;
  }

  &__item-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(17, 18, 23, 0) 35.87%, rgba(17, 18, 23, 0.9) 88.22%, #111217 99.57%);
  }

  &__item-content {
    position: relative;
    z-index: 2;
  }

  &__item-title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  &__item-text {
    font-weight: 500;
    max-width: 600px;
    font-size: 19px;
    line-height: 23px;
  }

  &__item-btn {
    margin-top: 64px;
  }

  .main__slider-pagination {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 145px;
    display: flex;
    justify-content: flex-end;
  }

  .swiper-pagination-bullet {
    border-radius: 8px;
    background: $darkGrey;
    width: 32px;
    height: 8px;
    opacity: 1;
    transition: all .2s ease;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 48px;
    background: $white;
  }
}

@media(max-width: 1440px) {
  .main {
    &__item {
      height: 600px;
      padding-bottom: 90px;
    }

    &__item-title {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 20px;
    }

    &__item-text {
      font-size: 18px;
      line-height: 22px;
      max-width: 570px;
    }

    &__item-btn {
      margin-top: 40px;
    }

    .main__slider-pagination {
      bottom: 90px;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    &__item {
      padding-bottom: 60px;
    }

    .main__slider-pagination {
      bottom: 60px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    &__item-title {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 20px;
    }

    &__item-btn {
      margin-top: 45px;
    }
  }
}

@media (max-width: 500px) {
  .main {
    &__item {
      height: 500px;
      padding-bottom: 15px;
    }

    .main__slider-pagination {
      display: none;
    }

    &__item-title {
      font-size: 28px;
      line-height: 34px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 19px;
    }

    &__item-btn {
      margin-top: 40px;
    }
  }
}