.news {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 45px;
  }

  .news__item {
    width: auto;
  }
}

@media (max-width: 1440px) {
  .news {
    &__inner {
      gap: 40px 24px;
    }
  }
}

@media (max-width: 1260px) {
  .news {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 45px;
    }
  }
}

@media (max-width: 900px) {
  .news {
    &__inner {
      gap: 40px 24px;
    }
  }
}

@media (max-width: 800px) {
  .news {
    &__inner {
      justify-content: center;
      grid-template-columns: repeat(1, minmax(auto, 500px));
      gap: 32px;
    }
  }
}

@media (max-width: 500px) {
  .news {
    &__inner {
      justify-content: center;
      grid-template-columns: repeat(1, minmax(auto, 350px));
      // gap: 24px;
    }
  }
}