.post-page {
  position: relative;
  padding-top: 280px;
  overflow: hidden;

  &__img {
    position: absolute;
    width: 100%;
    min-width: 800px; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 871px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(17, 18, 23, 0) 9.85%, rgba(17, 18, 23, 0.25) 21.28%, #111217 32.7%);
    }
    
    img {
      width: 100%;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: 850px;
    width: 100%;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 50px;
  }

  &__text {
    max-width: 745px;
  }

  &__sidebar {
    max-width: 361px;
    padding-top: 17px;
    margin-left: 70px;
    flex-shrink: 0;
  }

  &__socials-title {
    margin-bottom: 24px;
  }

  &__sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    & + & {
      margin-top: 48px;
    }
  }
}

@media (max-width: 1200px) {
  .post-page {
    &__inner {
      flex-direction: column;
    }

    &__content {
      max-width: 940px;
    }

    &__sidebar {
      margin-left: 0;
      margin-top: 48px;
      padding-top: 0;
      max-width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    &__sidebar-item {
      width: auto;
      align-items: flex-start;

      & + & {
        margin-top: 0;
        margin-right: 40px;
      }

      &._info {
        width: 361px;
      }
    }
  }
}

@media (max-width: 768px) {
  .post-page {
    &__title {
      line-height: 44px;
    }

    &__sidebar {
      flex-direction: column-reverse;
      width: 100%;
      margin-top: 45px;
    }

    &__sidebar-item {
      & + & {
        margin-right: 0;
        margin-bottom: 45px;
      }

      &._info {
        max-width: 420px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .post-page {
    padding-top: 230px;

    &__img {
      min-width: 600px;
      height: 720px;
    }

    &__title {
      line-height: 39px;
      margin-bottom: 32px;
    }

    &__socials-title {
      margin-bottom: 16px;
    }

    &__sidebar {
      margin-top: 32px;
    }

    &__sidebar-item {
      & + & {
        margin-bottom: 32px;
      }

      &._info {
        max-width: 100%;
      }
    }
  }
}

// @media (max-width: 1300px) {
//   .post-page {
//     &__inner {
//       flex-direction: column;
//     }

//     &__content {
//       max-width: 100%;
//     }

//     &__sidebar {
//       margin-left: 0;
//       margin-top: 48px;
//     }

//     &__text {
//       max-width: 100%;
//     }
//   }
// }