.profile {
  &__box {
    max-width: 835px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 184px;
    height: 184px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background: $gradient;
    position: relative;

    img {
      border-radius: inherit;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      object-fit: cover;
    }
  }

  &__btn-edit {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $darkGrey;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    svg path {
      transition: stroke .2s ease;
    }

    &:hover svg path {
      stroke: $white;
    }
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__nav-box {
    max-width: 100%;
    margin-bottom: 55px; 
  }

  &__nav-item {
    width: auto;
  }

  &__nav-link {
    letter-spacing: 0.02em;
    color: $grey;
    transition: color 0.2s ease;
    position: relative;

    &:hover,
    &._active {
      color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      right: -5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $red;
      display: none;
    }

    &._marked::before {
      display: block;
    }
  }

  &__content {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info-item {
    & + & {
      margin-left: 40px;
    }

    &._about {
      max-width: 500px;
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__about {
    border: 2px solid #32343f;
    border-radius: 8px;
    padding: 16px 24px;
    letter-spacing: 0.02em;
    color: $grey;
    line-height: 24px; 
    width: 100%;
    min-height: 108px;
  }

  &__teams-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__teams-btn {
    display: block;
    margin: 45px auto 0;
    padding: 14px 27px;
  }
}

@media (max-width: 850px) {
  .profile {
    &__teams-inner {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .profile {
    &__avatar {
      width: 165px;
      height: 165px;
      margin-bottom: 32px;
    }

    &__btn-edit {
      width: 38px;
      height: 38px;
      bottom: 7px;
      right: 7px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    &__info {
      flex-direction: column;
    }

    &__nav-box {
      margin-bottom: 50px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__info-item {
      & + & {
        margin-left: 0;
        margin-top: 35px;
      }

      &._about {
        max-width: 100%;
      }
    }

    &__teams-btn {
      margin-top: 40px;
    }
  }
}

@media (max-width: 500px) {
  .profile {
    &__avatar {
      width: 160px;
      height: 160px;
    }

    &__about {
      line-height: 23px;
      padding: 16px;
    }

    &__teams-inner {
      gap: 16px;
    }
  }
}