.section {
  margin-top: 64px;

  & + & {
    margin-top: 91px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__slider {
    .swiper-slide {
      width: auto;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    & + & {
      margin-top: 80px;
    }
  }
}

@media (max-width: 500px) {
  .section {
    &__title {
      margin-bottom: 24px;
    }

    & + & {
      margin-top: 64px;
    }
  }
}