.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 104px;
  background-color: #1b1c23;
  z-index: 9;
  left: 0;
  width: 71px;
  transition: width 0.3s ease;

  &._opened {
    width: 286px;
  }

  &__inner {
    overflow: hidden;
    height: 100%;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: $darkGrey;
    }
  }

  &._opened &__inner {
    overflow: auto;
  }

  &__box {
    padding: 48px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  &__content {
    transition: width 0.3s ease, opacity .2s ease;
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  &._opened &__content {
    width: 100%;
    opacity: 1;
  }

  &__close {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__close-text {
    opacity: 0;
    margin-left: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease;
  }

  &._opened &__close-text {
    opacity: 1;
  }

  &__close-icon {
    width: 21px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../img/icons/double-arrow-left.svg");
    transform: rotate(180deg);
    transition: transform 0.2s ease;
    flex-shrink: 0;
  }

  &._opened &__close-icon {
    transform: rotateY(0);
  }

  &__teams {
    min-width: 236px;
  }
}

.sidebar-teams {
  &__title {
    font-weight: 500;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
  }

  &__item + &__item {
    margin-top: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid $darkGrey;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $darkGrey;
    }
  }

  &__logo {
    display: flex;
    margin-right: 16px;
    flex-shrink: 0;

    img {
      height: 40px;
      max-width: 40px;
    }
  }

  &__name {
    letter-spacing: 0.02em;
  }
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  & + & {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid $darkGrey;
  }

  &__title {
    margin-bottom: 24px;
    line-height: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.02em;

    & + & {
      margin-top: 30px;
    }
  }

  &__list._horizont {
    .sidebar-info__list-item {
      flex-direction: row;
      align-items: flex-start;
    }

    .sidebar-info__list-title {
      margin-bottom: 0;
      margin-right: 6px;
    }
  }

  &__list-title {
    color: $grey;
    margin-bottom: 7px;
  }

  &__list-text {
    font-weight: 500;
  }
}

@media (max-width: 1440px) {
  .sidebar {
    padding-top: 90px;

    &__box {
      padding: 35px 25px;
    }

    &__close {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 1200px) {
  .sidebar-info {
    align-items: flex-start;

    & + & {
      margin-top: 30px;
      padding-top: 30px;
    }

    &__title {
      line-height: 29px;
    }

    &__list {
      align-items: flex-start;
    }

    &__list-item {
      align-items: flex-start;
      text-align: left;

      & + & {
        margin-top: 18px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 500px) {
  .sidebar-info {
    & + & {
      margin-top: 24px;
      padding-top: 24px;
    }

    &__title {
      margin-bottom: 16px;
      line-height: 25px;
    }

    &__list-item + &__list-item {
      margin-top: 16px;
    }

    &__list._horizont {
      .sidebar-info__list-item {
        flex-direction: column;
        align-items: flex-start;
      }
  
      .sidebar-info__list-title {
        margin-bottom: 7px;
        margin-right: 0;
      }
    }
  }
}