.teams {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 56px;
  }
}

.team-page {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 184px;
    height: 184px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $gradient;

    &::after {
      content: '';
      position: absolute;
      border-radius: inherit;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $darkBlue;
    }

    img {
      position: relative;
      z-index: 1;
    }

    &-game {
      height: 74px;
      max-width: 74px;
    }

    &-img {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      object-fit: cover;
      border-radius: inherit;
    }
  }

  &__info-content {
    margin-left: 40px;
  }

  &__game {
    letter-spacing: 0.02em;
    color: $grey;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__users {
    letter-spacing: 0.02em;
    line-height: 27px;
    color: $grey;
  }

  &__head-btns {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    flex-shrink: 0;
  }

  &__head-btn + &__head-btn {
      margin-top: 20px;
  }

  &__section + &__section {
    margin-top: 64px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__section-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 40px;
  }

  &__btn {
    margin-top: 72px;
    max-width: 344px;
    width: 100%;
    letter-spacing: 0.02em;
    padding: 16px 24px;
  }
}

@media (max-width: 1440px) {
  .teams {
    &__inner {
      gap: 24px;
    }
  }

  .team-page {
    &__section-inner {
      gap: 24px;
    }
  }
}

@media (max-width: 1080px) {
  .team-page {
    &__section-inner {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}

@media (max-width: 900px) {
  .team-page {
    &__head {
      flex-direction: column;
      align-items: flex-start;
    }

    &__head-btns {
      margin-left: 0;
      margin-top: 32px;
      flex-direction: row;
    }

    &__head-btn {

      & + & {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .team-page {
    &__logo {
      width: 165px;
      height: 165px;
    }

    &__logo-game {
      max-width: 65px;
      height: 65px;
    }

    &__info-content {
      margin-left: 25px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__section-inner {
      margin-top: 24px;
    }
  }
}

@media (max-width: 630px) {
  .team-page {
    &__head {
      align-items: center;
    }

    &__info {
      flex-direction: column;
      align-items: center;
    }

    &__info-content {
      margin-left: 0;
      margin-top: 24px;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .team-page {
    &__btn {
      max-width: 100%;
      margin-top: 64px;
    }

    &__logo {
      width: 160px;
      height: 160px;
    }

    &__logo-game {
      height: 60px;
      max-width: 60px;
    }

    &__subtitle {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 420px) {
  .team-page {
      &__head-btns {
      flex-direction: column;
      width: 100%;
    }

    &__head-btn {
      width: 100%;

      & + & {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}