.tournaments {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 45px;
  }

  .tournaments__item {
    width: auto;
  }
}

.tournament {
  &__head {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__logo {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    flex-shrink: 0;

    img {
      max-width: 72px;
      height: 72px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    line-height: 50px;
  }

  &__head {
    margin-bottom: 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__data {
    margin: -8px -20px 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__data-item {
    line-height: 27px;
    letter-spacing: 0.02em;
    margin: 8px 20px;
  }

  &__data-title {
    color: $grey;
  }

  &__data-text {
    font-weight: 500;
  }

  &__btns {
    display: flex;
    margin-bottom: 48px;
  }

  &__btn + &__btn {
    margin-left: 19px;
  }

  &__btn {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 299px;
    width: 100%;
    color: #fff;
    text-align: center;
  }
}

.tournament-status {
  border-radius: 8px;
  background-color: $purple;
  padding: 2px 12px;
  letter-spacing: 0.02em;

  &._registration {
    background-color: $yellow;
    color: $black;
  }

  &._playing {
    background-color: $green;
  }

  &._completed {
    background-color: $darkGrey;
  }
}


@media (max-width: 1440px) {
  .tournaments {
    &__inner {
      gap: 40px 24px;
    }
  }
}

@media (max-width: 1260px) {
  .tournaments {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 45px;
    }
  }
}

@media (max-width: 1200px) {
  .tournament {
    &__head {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__content {
      max-width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .tournament {
    &__head {
      margin-bottom: 44px;
    }

    &__logo {
      margin-right: 0;
      width: 110px;
      height: 110px;

      img {
        height: 52px;
        max-width: 52px;
      }
    }
  }
}

@media (max-width: 900px) {
  .tournaments {
    &__inner {
      gap: 40px 24px;
    }
  }
}

@media (max-width: 800px) {
  .tournaments {
    &__inner {
      justify-content: center;
      grid-template-columns: repeat(1, minmax(auto, 500px));
      gap: 32px;
    }
  }
}

@media (max-width: 768px) {
  .tournament {
    &__head {
      position: relative;
      flex-direction: row;
    }

    &__logo {
      position: absolute;
      right: 0;
      bottom: calc(100% + 10px);
      width: 50px;
      height: 50px;

      img {
        height: 25px;
        max-width: 25px;
      }
    }

    &__data {
      margin-bottom: 37px;
    }
  }
}

@media (max-width: 500px) {
  .tournaments {
    &__inner {
      justify-content: center;
      grid-template-columns: repeat(1, minmax(auto, 350px));
      // gap: 24px;
    }
  }

  .tournament {
    &__title {
      line-height: 39px;
    }

    &__head {
      margin-bottom: 32px;
    }

    &__data {
      margin: -6px -15px 25px;
      max-width: 380px;
    }

    &__data-item {
      margin: 6px 15px;
    }

    &__btns {
      flex-direction: column;
      margin-bottom: 32px;
    }

    &__btn {
      max-width: 100%;

      & + & {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}