</div>
</main>
@@include('footer/@@template.html')
</div>

@@include('./modals.html')

<div class="preloader">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<script src="./assets/js/main.min.js"></script>
</body>

</html>