<section class="main">
    <div class="swiper main__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main__item">
                    <div class="container main__item-inner">
                        <div class="main__item-img">
                            <img src="./assets/img/content/main.jpg" alt="Dota 2. Миксы 5 на 5">
                        </div>
                        <div class="main__item-content">
                            <h2 class="main__item-title">
                                <span>
                                    Dota 2
                                </span>
                                <span>
                                    Миксы 5 на 5
                                </span>
                            </h2>
                            <p class="main__item-text">
                                Подайте заявку и вместе со случайными союзниками прийдите к победе!
                            </p>
                            <a href="tournament.html" class="btn _purple main__item-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main__item">
                    <div class="container main__item-inner">
                        <div class="main__item-img">
                            <img src="./assets/img/content/main-2.jpg" alt="Dota 2. Миксы 5 на 5">
                        </div>
                        <div class="main__item-content">
                            <h2 class="main__item-title">
                                <span>
                                    Counter Strike: Global Offensive
                                </span>
                                <span>
                                    Лучшая команда РКСИ
                                </span>
                            </h2>
                            <p class="main__item-text">
                                Подайте заявку и вместе со случайными союзниками прийдите к победе!
                            </p>
                            <a href="tournament.html" class="btn _purple main__item-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main__item">
                    <div class="container main__item-inner">
                        <div class="main__item-img">
                            <img src="./assets/img/content/main-3.jpg" alt="Dota 2. Миксы 5 на 5">
                        </div>
                        <div class="main__item-content">
                            <h2 class="main__item-title">
                                <span>
                                    Hearthstone
                                </span>
                                <span>
                                    Миксы 5 на 5
                                </span>
                            </h2>
                            <p class="main__item-text">
                                Подайте заявку и вместе со случайными союзниками прийдите к победе!
                            </p>
                            <a href="tournament.html" class="btn _purple main__item-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main__slider-pagination"></div>
    </div>
</section>