<div class="modal">
  <div class="modal__inner">
  </div>
</div>

<div class="module auth-module">
  <div class="modal__box">
    <div class="modal__head">
      <h3 class="modal__title">
        Войти в аккаунт
      </h3>
    </div>
    <div class="modal__body">
      <div class="modal__container">
        <form method="POST" name="auth" class="auth-form modal__form">
          <label class="input input-wrapper modal__input">
            <input type="email" name="email" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Электронная почта
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="password" name="password" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Пароль
            </div>
          </label>
          <label class="input-wrapper checkbox modal__input">
            <input type="checkbox" name="remember" class="checkbox__input">
            <div class="checkbox__field"></div>
            <div class="checkbox__label">
              Запомнить меня
            </div>
          </label>
          <button type="submit" class="btn _gradient modal__btn">
            <span>Войти в аккаунт</span>
          </button>
          <button type="button" class="modal__forgot">
            Забыли пароль?
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="module register-module">
  <div class="modal__box">
    <div class="modal__head">
      <h3 class="modal__title">
        Зарегистрироваться
      </h3>
    </div>
    <div class="modal__body">
      <div class="modal__container">
        <form method="POST" name="register" class="register-form modal__form">
          <label class="input input-wrapper modal__input">
            <input type="text" name="surname" class="input-field input__field" data-required="true" data-onlywords="true">
            <div class="input__placeholder">
              Фамилия
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="text" name="name" class="input-field input__field" data-required="true" data-onlywords="true">
            <div class="input__placeholder">
              Имя
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="text" name="group" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Группа
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="text" name="nickname" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Никнейм
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="email" name="email" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Электронная почта
            </div>
          </label>
          <label class="input input-wrapper modal__input">
            <input type="password" name="password" class="input-field input__field" data-required="true">
            <div class="input__placeholder">
              Пароль
            </div>
          </label>
          <button type="submit" class="btn _gradient modal__btn">
            <span>Зарегистрироваться</span>
          </button>
          <p class="postscript modal__postscript">
            Нажимая "зарегистрироваться" вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="module tournament-single-module">
  <div class="modal__box _tournament">
    <div class="modal__title">
      Вы хотите зарегистрироваться на турнир?
    </div>
    <button class="btn _purple modal__btn">
      Зарегистрироваться
    </button>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module tournament-team-module">
  <div class="modal__box _tournament">
    <div class="modal__title">
      Вы хотите зарегистрировать команду?
    </div>
    <div class="modal__team">
      <div class="modal__team-logo">
        <img class="modal__team-logoimg" src="../assets/img/content/team.png" alt="">
        <!-- <img class="modal__team-logogame" src="../assets/img/content/dota.svg" alt=""> -->
      </div>
      <div class="modal__team-name">
        Shampure Legend
      </div>
    </div>
    <button class="btn _purple modal__btn">
      Зарегистрировать
    </button>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module tournament-notice-module">
  <div class="modal__box _tournament">
    <div class="text">
      <p>
        Зарегистрировать команду может только капитан команды. Обратитесь к нему для прохождения регистрации.
      </p>
      <p>
        Если такой возможности нет, обратитесь в <a href="#">поддержку</a> для решения проблемы.
      </p>
    </div>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module edit-team-module">
  <div class="modal__box _edit">
    <div class="modal__title">
      Редактировать
    </div>
    <form method="POST" name="auth" class="edit-team-form modal__form">
      <div class="input-wrapper file-avatar modal__file-avatar">
        <div class="file-avatar__img">
          <!-- <img class="file-avatar__img-preview" src="../assets/img/content/main.jpg" alt=""> -->
          <img class="file-avatar__img-game" src="../assets/img/content/dota.svg" alt="">
        </div>
        <label class="file-avatar__label">
          <input type="file" class="file-avatar__input" accept="image/jpeg">
          <div class="file-avatar__btn">
            <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M23 17C23 17.5304 22.7893 18.0391 22.4142 18.4142C22.0391 18.7893 21.5304 19 21 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V6C1 5.46957 1.21071 4.96086 1.58579 4.58579C1.96086 4.21071 2.46957 4 3 4H7L9 1H15L17 4H21C21.5304 4 22.0391 4.21071 22.4142 4.58579C22.7893 4.96086 23 5.46957 23 6V17Z"
                stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M12 15C14.2091 15 16 13.2091 16 11C16 8.79086 14.2091 7 12 7C9.79086 7 8 8.79086 8 11C8 13.2091 9.79086 15 12 15Z"
                stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </label>
      </div>
      <label class="input input-wrapper modal__input">
        <input type="text" name="name" class="input-field input__field" data-required="true" value="Rostik Team">
        <div class="input__placeholder">
          Название команды
        </div>
      </label>
      <button type="submit" class="btn _purple modal__btn">
        Сохранить
      </button>
    </form>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module add-user-module">
  <div class="modal__box _edit">
    <div class="modal__title">
      Добавить игрока
    </div>
    <form method="POST" name="auth" class="add-user-form modal__form">
      <label class="input input-wrapper modal__input">
        <input type="text" name="nickname" class="input-field input__field" data-required="true">
        <div class="input__placeholder">
          Никнейм
        </div>
      </label>
      <button type="submit" class="btn _purple modal__btn">
        Добавить
      </button>
    </form>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module create-team-module">
  <div class="modal__box _edit">
    <div class="modal__title">
      Создать команду
    </div>
    <form method="POST" name="auth" class="create-team-form modal__form">
      <label class="input input-wrapper modal__input">
        <input type="text" name="name" class="input-field input__field" data-required="true">
        <div class="input__placeholder">
          Название команды
        </div>
      </label>
      <div class="input-wrapper modal__input">
        <select name="game" class="jq-field select" data-required="true" data-placeholder="Выберите игру">
          <option></option>
          <option value="Dota 2">Dota 2</option>
          <option value="CS: GO">CS: GO</option>
          <option value="Hearstone">HS</option>
          <option value="StarCraft">ST</option><option value="Dota 2">Dota 2</option>
          <option value="CS: GO">CS: GO</option>
          <option value="Hearstone">HS</option>
          <option value="StarCraft">ST</option>
        </select>
      </div>
      <button type="submit" class="btn _purple modal__btn">
        Создать команду
      </button>
    </form>
    <button class="modal__close"></button>
  </div>
</div>

<div class="module edit-profile-module">
  <div class="modal__box _edit">
    <div class="modal__title">
      Редактировать
    </div>
    <form method="POST" name="auth" class="update-user-form modal__form">
      <div class="input-wrapper file-avatar modal__file-avatar">
        <div class="file-avatar__img">
          <img class="file-avatar__img-preview" src="../assets/img/content/main.jpg" alt="">
        </div>
        <label class="file-avatar__label">
          <input type="file" name="avatar" class="file-avatar__input" accept="image/jpeg">
          <div class="file-avatar__btn">
            <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M23 17C23 17.5304 22.7893 18.0391 22.4142 18.4142C22.0391 18.7893 21.5304 19 21 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V6C1 5.46957 1.21071 4.96086 1.58579 4.58579C1.96086 4.21071 2.46957 4 3 4H7L9 1H15L17 4H21C21.5304 4 22.0391 4.21071 22.4142 4.58579C22.7893 4.96086 23 5.46957 23 6V17Z"
                stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M12 15C14.2091 15 16 13.2091 16 11C16 8.79086 14.2091 7 12 7C9.79086 7 8 8.79086 8 11C8 13.2091 9.79086 15 12 15Z"
                stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </label>
      </div>
      <label class="input input-wrapper modal__input">
        <input type="text" name="name" class="input-field input__field" data-required="true" data-onlywords="true" value="Андрей">
        <div class="input__placeholder">
          Имя
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="surname" class="input-field input__field" data-required="true" data-onlywords="true">
        <div class="input__placeholder">
          Фамилия
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="nickname" class="input-field input__field" data-required="true">
        <div class="input__placeholder">
          Никнейм
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="group" class="input-field input__field" data-required="true">
        <div class="input__placeholder">
          Группа
        </div>
      </label>
      <label class="input-wrapper modal__input">
        <textarea name="about" class="input-field textarea" placeholder="Обо мне"></textarea>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="discord" class="input-field input__field">
        <div class="input__placeholder">
          Discord
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="twitch" class="input-field input__field">
        <div class="input__placeholder">
          Twitch
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="vk" class="input-field input__field">
        <div class="input__placeholder">
          Вконтакте
        </div>
      </label>
      <label class="input input-wrapper modal__input">
        <input type="text" name="youtube" class="input-field input__field">
        <div class="input__placeholder">
          YouTube
        </div>
      </label>
      <button type="submit" class="btn _purple modal__btn">
        Сохранить
      </button>
    </form>
    <button class="modal__close"></button>
  </div>
</div>