<section class="section news-list">
  <div class="container">
      <h2 class="subtitle section__title">
          Последние новости
      </h2>
      <div class="section__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            @@include('../cards/news-card.html', {
              "img": "./assets/img/content/news-1.png",
              "date": "17.04.2022",
              "text": "Севастопольцы (СевГУ) стали лучшими в Dota 2 в дивизионе \"Гамма\", после них КубГУ и БФУ.",
              "class": "news-list__item"
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/news-card.html', {
              "img": "./assets/img/content/news-2.png",
              "date": "17.04.2022",
              "text": "Итоги дисциплины CS:GO дивизиона \"Альфа\". Победители \“НГТУ\” Новосибирской области. Второе и ttrtgr thr thrt hrthr",
              "class": "news-list__item"
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/news-card.html', {
              "img": "./assets/img/content/news-3.jpg",
              "date": "07.04.2022",
              "text": "Расписание группового этапа ВКСЛ уже находится на сайте!",
              "class": "news-list__item"
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/news-card.html', {
              "img": "./assets/img/content/news-2.png",
              "date": "17.04.2022",
              "text": "Итоги дисциплины CS:GO дивизиона \"Альфа\". Победители \“НГТУ\” Новосибирской области. Второе и ttrtgr thr thrt hrthr",
              "class": "news-list__item"
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/news-card.html', {
              "img": "./assets/img/content/news-3.jpg",
              "date": "07.04.2022",
              "text": "Расписание группового этапа ВКСЛ уже находится на сайте!",
              "class": "news-list__item"
            })
          </div>
        </div>
      </div>
  </div>
</section>