<aside class="sidebar">
    <div class="sidebar__inner">
        <div class="sidebar__box">
            <button class="sidebar__close">
                <span class="sidebar__close-icon"></span>
                <span class="sidebar__close-text">
                    Закрыть
                </span>
            </button>
            <div class="sidebar__content">
                <div class="sidebar-teams sidebar__teams">
                    <h4 class="sidebar-teams__title">
                        Ваши команды
                    </h4>
                    <ul class="sidebar-teams__list">
                        <li class="sidebar-teams__item">
                            <a href="#" class="sidebar-teams__link">
                                <div class="sidebar-teams__logo">
                                    <img src="../assets/img/content/dota.svg" alt="Dota">
                                </div>
                                <div class="sidebar-teams__name">
                                    Shampure Legendary
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-teams__item">
                            <a href="#" class="sidebar-teams__link">
                                <div class="sidebar-teams__logo">
                                    <img src="../assets/img/content/cs.svg" alt="CS">
                                </div>
                                <div class="sidebar-teams__name">
                                    N[ppg]
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>