<section class="section tournaments-list">
  <div class="container">
      <h2 class="subtitle section__title">
        Ближайшие турниры
      </h2>
      <div class="section__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            @@include('../cards/tournament-card.html', {
              "img": "../assets/img/content/main.jpg",
              "status": "Скоро",
              "game": "Dota 2",
              "name": "Миксы 5 на 5",
              "game_logo": "../assets/img/content/dota.svg",
              "holding": "01.03.2022 – 02.03.2022",
              "registration": "31.01.2022 – 28.02.2022",
              "award": "5 000 ₽",
              "class": ""
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/tournament-card.html', {
              "img": "../assets/img/content/tour-2.png",
              "status": "Идет",
              "game": "Counter Strike: Global Offensive",
              "name": "Лучшая команда РКСИ",
              "game_logo": "../assets/img/content/cs.svg",
              "holding": "01.03.2022 – 02.03.2022",
              "registration": "31.01.2022 – 28.02.2022",
              "award": "Подарки",
              "class": ""
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/tournament-card.html', {
              "img": "../assets/img/content/tour-3.png",
              "status": "Завершен",
              "game": "Dota 2",
              "name": "Один на один на Shadow Fiend",
              "game_logo": "../assets/img/content/dota.svg",
              "holding": "01.03.2022 – 02.03.2022",
              "registration": "31.01.2022 – 28.02.2022",
              "award": "5 000 ₽",
              "class": ""
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/tournament-card.html', {
              "img": "../assets/img/content/tour-2.png",
              "status": "Идет",
              "game": "Counter Strike: Global Offensive",
              "name": "Лучшая команда РКСИ",
              "game_logo": "../assets/img/content/cs.svg",
              "holding": "01.03.2022 – 02.03.2022",
              "registration": "31.01.2022 – 28.02.2022",
              "award": "Подарки",
              "class": ""
            })
          </div>
          <div class="swiper-slide">
            @@include('../cards/tournament-card.html', {
              "img": "../assets/img/content/tour-3.png",
              "status": "Завершен",
              "game": "Dota 2",
              "name": "Один на один на Shadow Fiend",
              "game_logo": "../assets/img/content/dota.svg",
              "holding": "01.03.2022 – 02.03.2022",
              "registration": "31.01.2022 – 28.02.2022",
              "award": "5 000 ₽",
              "class": ""
            })
          </div>
        </div>
      </div>
  </div>
</section>