<footer class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__column _content">
          <a href="/" class="logo footer__logo">
            <img src="../../assets/img/content/logo.png" alt="Cyber RSKI">
          </a>
          <p class="footer__description">
            Разработано специально для<br>
            Ростовского Колледжа Связи и Информатики (РКСИ).
          </p>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item">
                <a href="tournaments.html" class="footer__nav-link">
                  Турниры
                </a>
              </li>
              <li class="footer__nav-item">
                <a href="news.html" class="footer__nav-link">
                  Новости
                </a>
              </li>
              <li class="footer__nav-item">
                <a href="teams.html" class="footer__nav-link">
                  Команды
                </a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                  Трансляции
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__column _socials">
          <h3 class="subtitle footer__title">
            Социальные сети
          </h3>
          @@include('../../elements/socials.html', {
            "class": "footer__socials"
          })
          <a href="#" class="footer__policy">
            Политика конфиденциальности
          </a>
        </div>
        <div class="footer__column _info">
          <h3 class="subtitle footer__title">
            Контакты
          </h3>
          <div class="footer__info">
            <h4 class="footer__info-title">
              Главные по киберспортивному движению
            </h4>
            <ul class="footer__info-list">
              <li class="footer__info-item">
                <span class="footer__info-name">
                  Владислав Добровольский
                </span>
              </li>
              <li class="footer__info-item">
                <span class="footer__info-name">
                  Владислав Гайворонский
                </span>
              </li>
            </ul>
          </div>
          <div class="footer__info">
            <h4 class="footer__info-title">
              Поддержка и ответы на ваши вопросы
            </h4>
            <ul class="footer__info-list">
              <li class="footer__info-item">
                <a href="mailto:cybersport@edu.rksi.ru" class="footer__info-link">
                  cybersport@edu.rksi.ru
                </a>
              </li>
              <li class="footer__info-item">
                <a href="https://vk.com/firstarsenal" target="_blank" class="footer__info-link">
                  vk.com/firstarsenal
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>