<footer class="footer _post">
  <div class="container-fluid">
    <div class="container">
      <div class="footer__inner">
        <p class="footer__text">
          Есть вопросы или предложения?
        </p>
        <p class="footer__text">
          Пишите <a href="https://vk.com/firstarsenal">Владу Добровольскому</a>
        </p>
      </div>
    </div>
  </div>
</footer>