<ul class="pagination">
  <li class="pagination__item">
    <span class="pagination__link current">
      1
    </span>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">
      2
    </a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">
      3
    </a>
  </li>
</ul>