<ul class="socials @@class">
  <li class="socials__item">
    <div target="_black" class="socials__link _disabled">
        @@include('../assets/img/icons/discord.svg')
    </div>
  </li>
  <li class="socials__item">
    <a href="#" target="_black" class="socials__link">
        @@include('../assets/img/icons/twitch.svg')
    </a>
  </li>
  <li class="socials__item">
    <a href="#" target="_black" class="socials__link">
        @@include('../assets/img/icons/vk.svg')
    </a>
  </li>
  <li class="socials__item">
    <a href="#" target="_black" class="socials__link">
        @@include('../assets/img/icons/youtube.svg')
    </a>
  </li>
</ul>