@font-face {
  font-family: "Inter";
  src: url("../../fonts/woff2/Inter-Light.woff2") format("woff2"),
  url("../../fonts/woff/Inter-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/woff2/Inter-Regular.woff2") format("woff2"),
  url("../../fonts/woff/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/woff2/Inter-Medium.woff2") format("woff2"),
  url("../../fonts/woff/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/woff2/Inter-SemiBold.woff2") format("woff2"),
  url("../../fonts/woff/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/woff2/Inter-Bold.woff2") format("woff2"),
  url("../../fonts/woff/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}