*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}



input,
textarea {
  outline: none;
  width: 100%;
  border: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

a, 
button,
label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

label {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  position: relative;
  padding-top: 104px;
}

body {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  background-color: $black;

  &._noscroll {
    overflow: hidden;
  }
}

body,
a,
button,
input,
textarea {
  color: $white;
}

.content__inner {
  padding-bottom: 91px;

  &._page {
    padding-top: 80px;
  }

  &._post {
    padding-bottom: 64px;
  }
}

.text {
  font-weight: 300;
  line-height: 27px;

  p {
    margin: 24px 0;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  a {
    color: $lightGreen;
    text-decoration: underline;
    transition: color .2s ease;

    &:hover {
      color: $lightGreenHover;
    }
  }

  h2,
  h3 {
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  h3 {
    letter-spacing: 0.02em;
    margin: 16px 0;
    font-size: 18px;
    line-height: 27px;
  }

  ul li {
    padding-left: 15px;
    position: relative;

    &::before {
      content: '-';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.module {
  display: none;
}

@media (max-width: 1440px) {
  .content {
    padding-top: 90px;
  }
}

@media (max-width: 1024px) {
  .content__inner {
    padding-bottom: 80px;

    &._page {
      padding-top: 64px;
    }
  }

  .text {
    p {
      margin: 16px 0;
    }
  }
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
    line-height: 19px;
  }

  .content {
    padding-top: 76px;
  }

  .content__inner {
    padding-bottom: 64px;

    &._page {
      padding-top: 48px;
    }

    &._post {
      padding-bottom: 48px;
    }
  }

  .text h2 {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  .text {
    line-height: 25px;
  }
}