$white: #F2F2F2;
$grey: #898989;
$greyHover: #696969;
$lightGrey: #C8C8C8;
$darkGrey: #32343F;
$darkGreyHover: #2c2d35;
$darkBlue: #1B1C23;
$black: #111217;
$gradient: linear-gradient(238.85deg, #002BC1 -15.49%, #980303 113.63%);
$gradientHover: linear-gradient(238.85deg, #0325a1 -15.49%, #810202 113.63%);
$purple: #4453FA;
$purpleHover: #3745e4;
$blue: #1C2DE6;
$blueHover: #1423cf;
$green: #569C28;
$lightGreen: #ACF13D;
$lightGreenHover: #7cbe12;
$yellow: #FFED00;
$red: #EB5757;
$redHover: #c93e3e;
$gold: #EEC900;
$silver: #C5C9C7;
$bronze: #CD7F32;
