.breadcrumbs {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
  
  &__list {
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__list,
  &__link {
    color: $grey;
  }

  &__item,
  &__link {
    display: inline;
  }

  &__item {
    position: relative;
    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    transition: color .2s ease;

    &:hover {
      color: $white;
    }
  }

  &__item + &__item {
    padding-left: 19px;

    &::before {
      content: '>';
      position: absolute;
      top: 0;
      left: 4px;
    }
  }
}


@media (max-width: 500px) {
  .breadcrumbs {
    margin-bottom: 12px;
  }
}