.btn {
  padding: 10px 24px;
  border-radius: 8px;
  background-color: $darkGrey;
  transition: background-color .2s ease, border-color .2s ease;

  &:hover {
    background-color: $darkGreyHover;
  }

  &:disabled {
    background: $darkGrey!important;
    cursor: default;
    pointer-events: none;

    &::before {
      display: none;
    }
  }
}

.btn._purple {
  background-color: $purple;

  &:hover  {
    background-color: $purpleHover;
  }
}

.btn._blue {
  background-color: $blue;

  &:hover {
    background-color: $blueHover;
  }
}

.btn._ghost {
  border: 2px solid $grey;
  background-color: transparent;

  &:hover {
    border-color: $greyHover;
    background-color: $greyHover;
  }

  &:disabled {
    background: transparent !important;
    border-color: $darkGrey !important;
  }
}

.btn._ghost._red {
  border: 2px solid $red;
  background-color: transparent;

  &:hover {
    border-color: $redHover;
    background-color: $redHover;
  }
}

.btn._gradient {
  position: relative;
  background: $gradient;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  transition: color .2s ease;

  span {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    opacity: 0;
    transition: opacity .2s ease;
    background: $gradientHover;
  }

  &:hover::before {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 10px 20px;
  }
}