.container-fluid {
  margin-left: 71px;
  width: calc(100% - 71px);
}

.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

@media (max-width: 1024px) {
  .container-fluid {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}