.input-field {
  width: 100%;
  box-shadow: inset 0 0 0 50px $darkBlue !important;
  background-color: transparent;
  -webkit-text-fill-color: $white !important;
  color: $white !important;
  letter-spacing: 0.02em;
  padding: 18px 12px;
  border: 2px solid $lightGrey;
  border-radius: 8px;
  line-height: 22px;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    border-color: $white;
  }
}

.input-wrapper {
  width: 100%;

  &._error .input-field {
    border-color: $red;

    &:hover,
    &:focus {
      border-color: $redHover;
    }
  }
}

.input {
  position: relative;
  display: block;
  width: 100%;

  &__field:focus,
  &-wrapper._filled &__field {
    padding-top: 31px;
    padding-bottom: 12px;
  }

  &__placeholder {
    letter-spacing: 0.02em;
    position: absolute;
    margin: auto;
    left: 12px;
    top: 19px;
    transition: all 0.2s ease;
    cursor: text;
  }

  &__field:focus~&__placeholder,
  &-wrapper._filled &__placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    top: 9px;
  }
}

.textarea {
  resize: none;
  height: 124px;

  &::placeholder {
    color: $white;
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  width: auto;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
    opacity: 0;
    z-index: -10;
    overflow: hidden;
  }

  &__field {
    position: relative;
    width: 59px;
    height: 31px;
    border-radius: 64px;
    background-color: $grey;
    transition: background-color .2s ease;

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $white;
      left: 3px;
      top: 3px;
      transition: all .2s ease;
    }
  }

  &__input:checked~&__field {
    background-color: $purple;

    &::before {
      left: calc(100% - 28px);
    }
  }

  &__label {
    margin-left: 16px;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

.file-avatar {
  position: relative;
  width: auto;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient;
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 50%;
      background-color: $darkBlue;
    }

    img {
      position: relative;
      z-index: 1;
    }

    &-preview {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      object-fit: cover;
      border-radius: inherit;
    }

    &-game {
      height: 45px;
      max-width: 45px;
    }
  }

  &__label {
    display: flex;
    position: absolute;
    right: 2px;
    bottom: 3px;
    border-radius: 50%;
    z-index: 2;
  }

  &__input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    overflow: hidden;
  }

  &__btn {
    width: 37px;
    height: 37px;
    background-color: $darkGrey;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 19px;
      height: 16px;
    }

    path {
      transition: stroke .2s ease;
    }

    &:hover path {
      stroke: $white;
    }
  }
}

.jq-field.select {
  width: 100%;

  .jq-selectbox__select {
    height: auto;
    background: transparent;
    letter-spacing: 0.02em;
    padding: 18px 51px 18px 12px;
    border: 2px solid $lightGrey;
    border-radius: 8px;
    transition: all 0.2s ease;
    box-shadow: none;
    text-shadow: none;
    color: $white;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    transition: border-color .2s ease;
  }

  &.opened .jq-selectbox__select,
  .jq-selectbox__select:hover {
    border-color: $white;
  }

  .jq-selectbox__select-text {
    width: 100% !important;

    &.placeholder {
      color: $white;
    }
  }

  .jq-selectbox__trigger {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 13px;
    height: 9px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../../img/icons/dropdown.svg');
    border: none;
  }

  .jq-selectbox__trigger-arrow {
    display: none;
  }

  .jq-selectbox__dropdown {
    top: 100% !important;
    box-shadow: none;
    margin: 2px 0 0;
    border-radius: 8px;
    overflow: hidden;
    background: $darkBlue;
    border: 2px solid $darkGrey;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
  }

  li {
    color: $white;
    padding: 10px 12px;
  }

  li.disabled,
  li.disabled.sel,
  li.disabled:hover {
    color: $grey;
    cursor: default;
  }

  li.disabled:hover {
    background-color: transparent;
  }

  li.sel,
  li:hover {
    background-color: $darkGrey;
    color: $white;
  }
}

.input-wrapper {

  &._error .jq-field.select {
    .jq-selectbox__select {
      border-color: $red;
    }

    &.opened .jq-selectbox__select,
    .jq-selectbox__select:hover {
      border-color: $redHover;

    }
  }
}

@media (max-width: 500px) {
  .input-field {
    line-height: 19px;
  }

  .jq-field.select {
    .jq-selectbox__select {
      font-size: 16px;
      line-height: 19px;
    }
  }
}