.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(#000, 0.4);
  display: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  &._show {
    display: block;
  }

  &._visible {
    opacity: 1;
    overflow: auto;
  }

  &__inner {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    transition: opacity 0.2s ease;

    &._hide {
      opacity: 0;
    }
  }

  &__box {
    max-width: 504px;
    width: 100%;
    background-color: $darkBlue;
    border-radius: 8px;
    // overflow: hidden;
    position: relative;
  }

  &__head,
  &__body {
    padding: 0 30px;
  }

  &__head {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: $gradient;
    // height: 109px;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__body {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__container {
    max-width: 344px;
    width: 100%;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input + &__input {
    margin-top: 24px;
  }

  &__btn {
    margin-top: 40px;
    width: 100%;
    letter-spacing: 0.02em;
  }

  &__postscript {
    margin-top: 8px;
  }

  &__forgot {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    transition: color 0.2s ease;

    &:hover {
      color: $lightGrey;
    }
  }

  &__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $grey;
      width: 2px;
      height: 24px;
      border-radius: 5px;
      transition: background-color 0.2s ease;
    }

    &:hover::before,
    &:hover::after {
      background-color: $white;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__team-logo {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    overflow: hidden;
    background-color: $darkGrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__team-logoimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__team-logogame {
    max-width: 35px;
    height: 35px;
  }

  &__team-name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin-left: 24px;
  }

  &__file-avatar {
    margin: 0 auto 32px;
  }

  &__box._tournament {
    max-width: 580px;
    padding: 40px 55px;
  }

  &__box._tournament &__title {
    text-transform: none;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  &__box._tournament &__btn {
    margin: 0 auto;
    display: block;
    padding: 16px 24px;
    max-width: 344px;
  }

  &__box._edit {
    padding: 32px;
    max-width: 390px;
  }

  &__box._edit &__title {
    text-transform: none;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    padding-right: 40px;
    margin-bottom: 40px;
  }

  &__box._edit &__close {
    right: 32px;
    top: 41px;
  }

  &__box._edit &__btn {
    margin-top: 32px;
    padding: 16px 24px;
  }
}

#toast-container {
  &.toast-top-right {
    right: 20px;
  }
  
  .toast-modal {
    opacity: 1;
    box-shadow: none;
    padding: 15px;
    max-width: 300px;
    width: auto;
    background-image: none !important;

    &:hover {
      box-shadow: none;
    }
  }
}

@media (max-width: 1024px) {
  .modal {
    &__title {
      font-size: 21px;
      line-height: 25px;
    }

    &__head {
      padding: 30px;
    }

    &__body {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__btn {
      margin-top: 32px;
    }

    &__team-logo {
      width: 65px;
      height: 65px;
    }

    &__team-logogame {
      height: 31px;
      max-width: 31px;
    }

    &__team-name {
      font-size: 18px;
      line-height: 22px;
    }

    &__box._tournament &__btn {
      max-width: 310px;
      padding: 14px 24px;
    }

    &__box._edit &__title {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 32px;
    }

    &__box._edit &__close {
      top: 39px;
    }
  }
}

@media (max-width: 500px) {
  .modal {
    &__title {
      font-size: 19px;
      line-height: 23px;
    }

    &__head {
      padding: 24px 15px;
    }

    &__body {
      padding: 32px 15px;
    }

    &__box {
      border-radius: 0;
    }

    &__box._tournament {
      padding: 45px 15px 35px;
    }

    &__close {
      top: 14px;
      right: 15px;
    }

    &__team {
      flex-direction: column;
    }

    &__team-name {
      margin-left: 0;
      margin-top: 12px;
    }

    &__box._edit {
      padding: 32px 15px;
    }

    &__box._edit &__title {
      font-size: 21px;
      line-height: 32px;
    }

    &__box._edit &__close {
      right: 15px;
    }

    &__box._edit &__btn {
      padding: 14px 24px;
    }
  }

  #toast-container {
    width: calc(100% - 24px);

    &.toast-top-right {
      right: 12px;
    }

    .toast-modal {
      max-width: 100%;
      width: 100%;
    }
  }
}