.pagination {
  margin-top: 45px;
  display: flex;

  &__item + &__item {
    margin-left: 24px;
  }

  &__link {
    min-width: 38px;
    line-height: 27px;
    padding: 4px 11px;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 8px;
    transition: background-color .1s ease;
    display: inline-block;

    &.current,
    &:hover:not(span) {
      background-color: $purple;
    }
  }
}


@media (max-width: 500px) {
  .pagination {
    &__item + &__item {
      margin-left: 20px;
    }
  }
}