.postscript {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  &,
  a {
    color: $grey;
  }

  a {
    transition: color .2s ease;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: $grey;
      transition: background-color .2s ease;
    }

    &:hover {
      color: $white;

      &::before {
        background-color: $white;
      }
    }
  }
}