.socials {
  display: flex;

  &__item + &__item {
    margin-left: 21px;
  }

  &__link {
    width: 52px;
    height: 52px;
    position: relative;
    background: $gradient;
    border-radius: 50%;
    box-shadow: 4px 4px 15px rgba(0, 43, 193, 0.15), -4px -4px 15px rgba(152, 3, 3, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;

    &._disabled {
      background: $darkGrey;
      box-shadow: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      background: $gradientHover;
      opacity: 0;
      transition: opacity .15s ease;
    }

    &:not(._disabled):hover::before {
      opacity: 1;
    }

    svg {
      position: relative;
      z-index: 1;
    }

    & path {
      fill: $white;
    }
  }
}


@media (max-width: 1024px) {
  .socials {
    &__link {
      width: 48px;
      height: 48px;
  
      &::before {
        content: '';
        width: 44px;
        height: 44px;
      }
    }

    &__item + &__item {
      margin-left: 20px;
    }
  }
}