.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.page-title {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 39px;
  }
}


@media (max-width: 500px) {
  .subtitle {
    font-size: 21px;
    line-height: 25px;
  }

  .title {
    font-size: 28px;
    line-height: 34px;
  }
}