@@include('parts/header.html', {
  "title": "Cyber RKSI"
  })
  
  <div class="content__inner _page">
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">
              Cyber RKSI
            </a>
          </li>
          <li class="breadcrumbs__item">
            Новости
          </li>
        </ul>
      </div>
    </div>
    <h1 class="title page-title">
      <div class="container">
        Новости
      </div>
    </h1>
    <section class="news">
      <div class="container">
        <div class="news__inner">
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-1.png",
            "date": "17.04.2022",
            "text": "Севастопольцы (СевГУ) стали лучшими в Dota 2 в дивизионе \"Гамма\", после них КубГУ и БФУ.",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-2.png",
            "date": "17.04.2022",
            "text": "Итоги дисциплины CS:GO дивизиона \"Альфа\". Победители \“НГТУ\” Новосибирской области. Второе и ttrtgr thr thrt hrthr",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-3.jpg",
            "date": "07.04.2022",
            "text": "Расписание группового этапа ВКСЛ уже находится на сайте!",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-1.png",
            "date": "17.04.2022",
            "text": "Севастопольцы (СевГУ) стали лучшими в Dota 2 в дивизионе \"Гамма\", после них КубГУ и БФУ.",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-2.png",
            "date": "17.04.2022",
            "text": "Итоги дисциплины CS:GO дивизиона \"Альфа\". Победители \“НГТУ\” Новосибирской области. Второе и ttrtgr thr thrt hrthr",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-3.jpg",
            "date": "07.04.2022",
            "text": "Расписание группового этапа ВКСЛ уже находится на сайте!",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-1.png",
            "date": "17.04.2022",
            "text": "Севастопольцы (СевГУ) стали лучшими в Dota 2 в дивизионе \"Гамма\", после них КубГУ и БФУ.",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-2.png",
            "date": "17.04.2022",
            "text": "Итоги дисциплины CS:GO дивизиона \"Альфа\". Победители \“НГТУ\” Новосибирской области. Второе и ttrtgr thr thrt hrthr",
            "class": "news__item"
          })
          @@include('cards/news-card.html', {
            "img": "./assets/img/content/news-3.jpg",
            "date": "07.04.2022",
            "text": "Расписание группового этапа ВКСЛ уже находится на сайте!",
            "class": "news__item"
          })
        </div>
        @@include('elements/pagination.html')
      </div>
    </section>
  </div>
  
  @@include('parts/footer.html', {
    "template": "default"
  })