@@include('parts/header.html', {
  "title": "Cyber RKSI"
  })
  
  <div class="content__inner _post">
    <section class="post-page">
      <div class="container">
        <div class="post-page__img">
          <img src="./assets/img/content/news-3.jpg" alt="">
        </div>
        <div class="post-page__inner">
          <div class="post-page__content">
            <h1 class="title post-page__title">
              Расписание группового этапа ВКСЛ уже находится на сайте!
            </h1>
            <div class="text post-page__text">
              <p>
                9 апреля стартует зональный этап шестого сезона Студенческой лиги. Участие примут 64 сборные команды из 59 регионов страны, разделенные на 4 дивизиона.
              </p>
              <p>
                Подключайтесь к трансляциям и поддерживайте свои учебные заведения. Расписание зонального этапа 👇🏻 (ВРЕМЯ МСК)
              </p>
              <p>
                📍 С результатами жеребьевки можно ознакомиться в <a href="#">посте</a>.
              </p>
            </div>
          </div>
          <aside class="post-page__sidebar">
            <div class="post-page__socials-box">
              <h3 class="subtitle post-page__socials-title">
                Подписывайтесь на нас
              </h3>
              @@include('elements/socials.html', {
                "class": ""
              })
            </div>
          </aside>
        </div>
      </div>
    </section>
  </div>
  
  @@include('parts/footer.html', {
    "template": "post"
  })