@@include('parts/header.html', {
"title": "Cyber RKSI"
})

<div class="content__inner _page">
  <section class="profile">
    <div class="container">
      <div class="profile__box">
        <div class="profile__avatar">
          <img src="./assets/img/content/avatar.png" alt="Андрей “Shergarat” Милькович">
          <button class="btn-modal profile__btn-edit" data-target="edit-profile">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.166 2.5C14.3849 2.28113 14.6447 2.10751 14.9307 1.98906C15.2167 1.87061 15.5232 1.80964 15.8327 1.80964C16.1422 1.80964 16.4487 1.87061 16.7347 1.98906C17.0206 2.10751 17.2805 2.28113 17.4993 2.5C17.7182 2.71887 17.8918 2.9787 18.0103 3.26467C18.1287 3.55064 18.1897 3.85714 18.1897 4.16667C18.1897 4.47619 18.1287 4.78269 18.0103 5.06866C17.8918 5.35463 17.7182 5.61446 17.4993 5.83333L6.24935 17.0833L1.66602 18.3333L2.91602 13.75L14.166 2.5Z"
                stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <h1 class="title profile__title">
          Андрей “Shergarat” Милькович
        </h1>
        <div class="profile__nav-box">
          <nav class="profile__nav">
            <ul class="swiper-wrapper profile__nav-list">
              <li class="swiper-slide profile__nav-item">
                <a href="#" class="profile__nav-link _active">
                  Обо мне
                </a>
              </li>
              <li class="swiper-slide profile__nav-item">
                <a href="#" class="profile__nav-link">
                  Достижения
                </a> 
              </li>
              <li class="swiper-slide profile__nav-item">
                <a href="#" class="profile__nav-link">
                  Команды
                </a>
              </li>
              <li class="swiper-slide profile__nav-item">
                <a href="#" class="profile__nav-link _marked">
                  Приглашения
                </a>
              </li>
              <li class="swiper-slide profile__nav-item">
                <a href="#" class="profile__nav-link">
                  Выйти
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="profile__content">
          <div class="profile__info">
            <div class="profile__info-item _about">
              <h2 class="subtitle profile__subtitle">
                Обо мне
              </h2>
              <div class="profile__about">
                И нет сомнений, что предприниматели в сети интернет разоблачены. Как уже неоднократно упомянуто,
                стремящиеся вытеснить традиционное производство, нанотехнологии формируют глобальную экономическую сеть
                и при этом - объединены в целые кластеры себе подобных.
              </div>
            </div>
            <div class="profile__info-item">
              <h2 class="subtitle profile__subtitle">
                Социальные сети
              </h2>
              @@include('elements/socials.html')
            </div>
          </div>


          <!-- <h2 class="subtitle profile__subtitle">
            Достижения
          </h2> -->
           <!-- <p class="no-items">
            Достижений пока нет
          </p> -->
          <!-- <div class="achievements">
            <a href="tournament.html" class="achievement-card _first achievements__item">
              <div class="achievement-card__content">
                <div class="achievement-card__logo">
                  <img src="./assets/img/content/main.jpg" alt="">
                </div>
                <div class="achievement-card__title">
                  Миксы 5 на 5
                </div>
                <div class="achievement-card__info">
                  <div class="achievement-card__date">
                    21.01.22
                  </div>
                  <div class="achievement-card__game">
                    DOTA 2
                  </div>
                </div>
              </div>
              <div class="achievement-card__cup">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M33.8428 6C33.1068 15.012 29.9368 20.46 27.0988 25.338C25.9448 27.324 24.8268 29.244 24.0128 31.238C23.1968 29.242 22.0748 27.32 20.9168 25.332C18.0728 20.458 14.8948 15.01 14.1588 6H33.8428ZM38.0008 2H10.0008C10.0008 21.606 20.2108 28.106 21.2088 36H26.8188C27.8128 28.106 38.0008 21.606 38.0008 2ZM24.0008 25.094C21.7508 19.968 20.3028 13.896 20.2868 8H17.5208C18.2688 14.236 21.2348 22.046 24.0008 25.094V25.094ZM26.8768 38H21.1448C20.7408 40.374 19.8848 43.238 16.0028 43.238V46H32.0028V43.238C28.0048 43.238 27.2608 40.374 26.8768 38ZM41.0368 34.808C38.2328 33.54 35.8188 34.428 34.3288 35.394C35.8188 34.426 37.5348 32.466 37.5188 29.388C32.3368 31.464 32.9288 34.38 31.9888 36.078C31.3588 37.22 29.9748 36.626 29.9748 36.626L29.5488 37.33C30.2788 37.716 31.5268 37.968 32.9808 37.968C35.5948 37.968 38.8788 37.15 41.0368 34.808V34.808ZM45.9248 26.764C43.1608 26.958 41.6888 28.886 40.9228 30.29C41.6888 28.886 42.1508 26.406 40.8228 23.974C37.6028 27.832 39.3188 29.89 39.2988 31.636C39.2908 32.49 38.3188 32.47 38.3188 32.47L38.3328 33.278C38.9608 33.196 44.6408 31.844 45.9248 26.764ZM47.9968 19.024C45.6548 19.876 44.8768 21.97 44.5608 23.374C44.8768 21.97 44.6428 19.648 42.8908 17.874C41.0608 22.01 43.0548 23.364 43.4708 24.88C43.6748 25.622 42.8208 26.092 42.8208 26.092L43.4008 26.45C43.5228 26.392 48.1708 23.786 47.9968 19.024V19.024ZM47.5968 11.44C45.7908 12.772 45.5628 14.816 45.6488 16.11C45.5648 14.818 44.8588 12.832 42.8968 11.746C42.3688 15.782 44.4348 16.444 45.1808 17.646C45.5448 18.234 45.2268 18.962 45.2268 18.962L45.7948 18.924C45.7948 18.924 45.8468 18.67 46.1328 18.04C46.7148 16.752 48.6428 15.372 47.5968 11.44V11.44ZM43.7948 6C43.7948 6 43.2488 7.968 43.7048 9.464C44.1928 11.06 45.4508 12.186 45.4508 12.186C45.4508 12.186 46.1308 10.44 45.6488 8.72C45.2048 7.136 43.7948 6 43.7948 6V6ZM18.4548 37.33L18.0288 36.626C18.0288 36.626 16.6468 37.22 16.0148 36.078C15.0748 34.38 15.6668 31.464 10.4848 29.388C10.4688 32.466 12.1848 34.428 13.6748 35.394C12.1848 34.426 9.77083 33.54 6.96683 34.808C9.12283 37.15 12.4088 37.97 15.0228 37.97C16.4768 37.968 17.7228 37.716 18.4548 37.33V37.33ZM9.66883 33.276L9.68283 32.468C9.68283 32.468 8.71083 32.488 8.70283 31.634C8.68483 29.888 10.3988 27.832 7.17883 23.972C5.85083 26.404 6.31283 28.886 7.07883 30.288C6.31283 28.884 4.83883 26.956 2.07683 26.762C3.36083 31.844 9.04083 33.196 9.66883 33.276V33.276ZM4.60283 26.45L5.18283 26.092C5.18283 26.092 4.32883 25.62 4.53283 24.88C4.94883 23.364 6.94283 22.01 5.11283 17.874C3.36083 19.648 3.12483 21.97 3.44283 23.374C3.12683 21.97 2.35083 19.876 0.00682735 19.024C-0.169173 23.786 4.47883 26.392 4.60283 26.45ZM1.87083 18.042C2.15683 18.672 2.20883 18.926 2.20883 18.926L2.77683 18.964C2.77683 18.964 2.45883 18.236 2.82283 17.648C3.56883 16.446 5.63283 15.782 5.10683 11.748C3.14083 12.832 2.43683 14.816 2.35283 16.11C2.43683 14.816 2.20883 12.77 0.404827 11.44C-0.641173 15.372 1.28683 16.752 1.87083 18.042V18.042ZM2.35283 8.72C1.87283 10.44 2.55083 12.186 2.55083 12.186C2.55083 12.186 3.80883 11.06 4.29683 9.464C4.75283 7.968 4.20683 6 4.20683 6C4.20683 6 2.79683 7.136 2.35283 8.72V8.72Z"
                    fill="#898989" />
                </svg>
              </div>
            </a>
            <a href="tournament.html" class="achievement-card _second achievements__item">
              <div class="achievement-card__content">
                <div class="achievement-card__logo">
                  <img src="./assets/img/content/main-2.jpg" alt="">
                </div>
                <div class="achievement-card__title">
                  Лучшая команда РКСИ
                </div>
                <div class="achievement-card__info">
                  <div class="achievement-card__date">
                    05.01.22
                  </div>
                  <div class="achievement-card__game">
                    CS: GO
                  </div>
                </div>
              </div>
              <div class="achievement-card__cup">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M33.8428 6C33.1068 15.012 29.9368 20.46 27.0988 25.338C25.9448 27.324 24.8268 29.244 24.0128 31.238C23.1968 29.242 22.0748 27.32 20.9168 25.332C18.0728 20.458 14.8948 15.01 14.1588 6H33.8428ZM38.0008 2H10.0008C10.0008 21.606 20.2108 28.106 21.2088 36H26.8188C27.8128 28.106 38.0008 21.606 38.0008 2ZM24.0008 25.094C21.7508 19.968 20.3028 13.896 20.2868 8H17.5208C18.2688 14.236 21.2348 22.046 24.0008 25.094V25.094ZM26.8768 38H21.1448C20.7408 40.374 19.8848 43.238 16.0028 43.238V46H32.0028V43.238C28.0048 43.238 27.2608 40.374 26.8768 38ZM41.0368 34.808C38.2328 33.54 35.8188 34.428 34.3288 35.394C35.8188 34.426 37.5348 32.466 37.5188 29.388C32.3368 31.464 32.9288 34.38 31.9888 36.078C31.3588 37.22 29.9748 36.626 29.9748 36.626L29.5488 37.33C30.2788 37.716 31.5268 37.968 32.9808 37.968C35.5948 37.968 38.8788 37.15 41.0368 34.808V34.808ZM45.9248 26.764C43.1608 26.958 41.6888 28.886 40.9228 30.29C41.6888 28.886 42.1508 26.406 40.8228 23.974C37.6028 27.832 39.3188 29.89 39.2988 31.636C39.2908 32.49 38.3188 32.47 38.3188 32.47L38.3328 33.278C38.9608 33.196 44.6408 31.844 45.9248 26.764ZM47.9968 19.024C45.6548 19.876 44.8768 21.97 44.5608 23.374C44.8768 21.97 44.6428 19.648 42.8908 17.874C41.0608 22.01 43.0548 23.364 43.4708 24.88C43.6748 25.622 42.8208 26.092 42.8208 26.092L43.4008 26.45C43.5228 26.392 48.1708 23.786 47.9968 19.024V19.024ZM47.5968 11.44C45.7908 12.772 45.5628 14.816 45.6488 16.11C45.5648 14.818 44.8588 12.832 42.8968 11.746C42.3688 15.782 44.4348 16.444 45.1808 17.646C45.5448 18.234 45.2268 18.962 45.2268 18.962L45.7948 18.924C45.7948 18.924 45.8468 18.67 46.1328 18.04C46.7148 16.752 48.6428 15.372 47.5968 11.44V11.44ZM43.7948 6C43.7948 6 43.2488 7.968 43.7048 9.464C44.1928 11.06 45.4508 12.186 45.4508 12.186C45.4508 12.186 46.1308 10.44 45.6488 8.72C45.2048 7.136 43.7948 6 43.7948 6V6ZM18.4548 37.33L18.0288 36.626C18.0288 36.626 16.6468 37.22 16.0148 36.078C15.0748 34.38 15.6668 31.464 10.4848 29.388C10.4688 32.466 12.1848 34.428 13.6748 35.394C12.1848 34.426 9.77083 33.54 6.96683 34.808C9.12283 37.15 12.4088 37.97 15.0228 37.97C16.4768 37.968 17.7228 37.716 18.4548 37.33V37.33ZM9.66883 33.276L9.68283 32.468C9.68283 32.468 8.71083 32.488 8.70283 31.634C8.68483 29.888 10.3988 27.832 7.17883 23.972C5.85083 26.404 6.31283 28.886 7.07883 30.288C6.31283 28.884 4.83883 26.956 2.07683 26.762C3.36083 31.844 9.04083 33.196 9.66883 33.276V33.276ZM4.60283 26.45L5.18283 26.092C5.18283 26.092 4.32883 25.62 4.53283 24.88C4.94883 23.364 6.94283 22.01 5.11283 17.874C3.36083 19.648 3.12483 21.97 3.44283 23.374C3.12683 21.97 2.35083 19.876 0.00682735 19.024C-0.169173 23.786 4.47883 26.392 4.60283 26.45ZM1.87083 18.042C2.15683 18.672 2.20883 18.926 2.20883 18.926L2.77683 18.964C2.77683 18.964 2.45883 18.236 2.82283 17.648C3.56883 16.446 5.63283 15.782 5.10683 11.748C3.14083 12.832 2.43683 14.816 2.35283 16.11C2.43683 14.816 2.20883 12.77 0.404827 11.44C-0.641173 15.372 1.28683 16.752 1.87083 18.042V18.042ZM2.35283 8.72C1.87283 10.44 2.55083 12.186 2.55083 12.186C2.55083 12.186 3.80883 11.06 4.29683 9.464C4.75283 7.968 4.20683 6 4.20683 6C4.20683 6 2.79683 7.136 2.35283 8.72V8.72Z"
                    fill="#898989" />
                </svg>
              </div>
            </a>
            <a href="tournament.html" class="achievement-card _third achievements__item">
              <div class="achievement-card__content">
                <div class="achievement-card__logo">
                  <img src="./assets/img/content/main-3.jpg" alt="">
                </div>
                <div class="achievement-card__title">
                  Региональный этап РКСЛ
                </div>
                <div class="achievement-card__info">
                  <div class="achievement-card__date">
                    13.12.21
                  </div>
                  <div class="achievement-card__game">
                    Hearthstone
                  </div>
                </div>
              </div>
              <div class="achievement-card__cup">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M33.8428 6C33.1068 15.012 29.9368 20.46 27.0988 25.338C25.9448 27.324 24.8268 29.244 24.0128 31.238C23.1968 29.242 22.0748 27.32 20.9168 25.332C18.0728 20.458 14.8948 15.01 14.1588 6H33.8428ZM38.0008 2H10.0008C10.0008 21.606 20.2108 28.106 21.2088 36H26.8188C27.8128 28.106 38.0008 21.606 38.0008 2ZM24.0008 25.094C21.7508 19.968 20.3028 13.896 20.2868 8H17.5208C18.2688 14.236 21.2348 22.046 24.0008 25.094V25.094ZM26.8768 38H21.1448C20.7408 40.374 19.8848 43.238 16.0028 43.238V46H32.0028V43.238C28.0048 43.238 27.2608 40.374 26.8768 38ZM41.0368 34.808C38.2328 33.54 35.8188 34.428 34.3288 35.394C35.8188 34.426 37.5348 32.466 37.5188 29.388C32.3368 31.464 32.9288 34.38 31.9888 36.078C31.3588 37.22 29.9748 36.626 29.9748 36.626L29.5488 37.33C30.2788 37.716 31.5268 37.968 32.9808 37.968C35.5948 37.968 38.8788 37.15 41.0368 34.808V34.808ZM45.9248 26.764C43.1608 26.958 41.6888 28.886 40.9228 30.29C41.6888 28.886 42.1508 26.406 40.8228 23.974C37.6028 27.832 39.3188 29.89 39.2988 31.636C39.2908 32.49 38.3188 32.47 38.3188 32.47L38.3328 33.278C38.9608 33.196 44.6408 31.844 45.9248 26.764ZM47.9968 19.024C45.6548 19.876 44.8768 21.97 44.5608 23.374C44.8768 21.97 44.6428 19.648 42.8908 17.874C41.0608 22.01 43.0548 23.364 43.4708 24.88C43.6748 25.622 42.8208 26.092 42.8208 26.092L43.4008 26.45C43.5228 26.392 48.1708 23.786 47.9968 19.024V19.024ZM47.5968 11.44C45.7908 12.772 45.5628 14.816 45.6488 16.11C45.5648 14.818 44.8588 12.832 42.8968 11.746C42.3688 15.782 44.4348 16.444 45.1808 17.646C45.5448 18.234 45.2268 18.962 45.2268 18.962L45.7948 18.924C45.7948 18.924 45.8468 18.67 46.1328 18.04C46.7148 16.752 48.6428 15.372 47.5968 11.44V11.44ZM43.7948 6C43.7948 6 43.2488 7.968 43.7048 9.464C44.1928 11.06 45.4508 12.186 45.4508 12.186C45.4508 12.186 46.1308 10.44 45.6488 8.72C45.2048 7.136 43.7948 6 43.7948 6V6ZM18.4548 37.33L18.0288 36.626C18.0288 36.626 16.6468 37.22 16.0148 36.078C15.0748 34.38 15.6668 31.464 10.4848 29.388C10.4688 32.466 12.1848 34.428 13.6748 35.394C12.1848 34.426 9.77083 33.54 6.96683 34.808C9.12283 37.15 12.4088 37.97 15.0228 37.97C16.4768 37.968 17.7228 37.716 18.4548 37.33V37.33ZM9.66883 33.276L9.68283 32.468C9.68283 32.468 8.71083 32.488 8.70283 31.634C8.68483 29.888 10.3988 27.832 7.17883 23.972C5.85083 26.404 6.31283 28.886 7.07883 30.288C6.31283 28.884 4.83883 26.956 2.07683 26.762C3.36083 31.844 9.04083 33.196 9.66883 33.276V33.276ZM4.60283 26.45L5.18283 26.092C5.18283 26.092 4.32883 25.62 4.53283 24.88C4.94883 23.364 6.94283 22.01 5.11283 17.874C3.36083 19.648 3.12483 21.97 3.44283 23.374C3.12683 21.97 2.35083 19.876 0.00682735 19.024C-0.169173 23.786 4.47883 26.392 4.60283 26.45ZM1.87083 18.042C2.15683 18.672 2.20883 18.926 2.20883 18.926L2.77683 18.964C2.77683 18.964 2.45883 18.236 2.82283 17.648C3.56883 16.446 5.63283 15.782 5.10683 11.748C3.14083 12.832 2.43683 14.816 2.35283 16.11C2.43683 14.816 2.20883 12.77 0.404827 11.44C-0.641173 15.372 1.28683 16.752 1.87083 18.042V18.042ZM2.35283 8.72C1.87283 10.44 2.55083 12.186 2.55083 12.186C2.55083 12.186 3.80883 11.06 4.29683 9.464C4.75283 7.968 4.20683 6 4.20683 6C4.20683 6 2.79683 7.136 2.35283 8.72V8.72Z"
                    fill="#898989" />
                </svg>
              </div>
            </a>
          </div> -->

          <!-- <h2 class="subtitle profile__subtitle">
            Команды
          </h2> -->
          <!-- <p class="no-items">
            Вы пока не состоите ни в одной команде
          </p> -->
          <!-- <div class="profile__teams">
            <div class="profile__teams-inner">
              @@include('cards/team-card.html', {
                "logo": "./assets/img/content/team.png",
                "class": "_short"
              })
              @@include('cards/team-card.html', {
                "logo": "",
                "class": "_short"
              })
              @@include('cards/team-card.html', {
                "logo": "./assets/img/content/team.png",
                "class": "_short"
              })
              @@include('cards/team-card.html', {
                "logo": "",
                "class": "_short"
              })
            </div>
            <button class="btn _purple btn-modal profile__teams-btn" data-target="create-team">
              Создать команду
            </button>
          </div> -->

          <!-- <h2 class="subtitle profile__subtitle">
            Приглашения
          </h2> -->
          <!-- <p class="no-items">
            Для вас пока нет приглашений в команду
          </p> -->
          <!-- <div class="invitations">
            @@include('cards/invitation-card.html', {
              "logo": "./assets/img/content/team.png"
            })
            @@include('cards/invitation-card.html', {
              "logo": ""
            })
            @@include('cards/invitation-card.html', {
              "logo": "./assets/img/content/team.png"
            })
            @@include('cards/invitation-card.html', {
              "logo": ""
            })
          </div> -->

        </div>
      </div>
    </div>
  </section>
</div>

@@include('parts/footer.html', {
"template": "post"
})