@@include('parts/header.html', {
  "title": "Cyber RKSI"
  })
  
  <div class="content__inner _page">
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">
              Cyber RKSI
            </a>
          </li>
          <li class="breadcrumbs__item">
            Команды
          </li>
        </ul>
      </div>
    </div>
    <h1 class="title page-title">
      <div class="container">
        Команды
      </div>
    </h1>
    <section class="teams">
      <div class="container">
        <div class="teams__inner">
          @@include('cards/team-card.html', {
            "logo": "./assets/img/content/team.png",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "./assets/img/content/team.png",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "./assets/img/content/team.png",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "./assets/img/content/team.png",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "./assets/img/content/team.png",
            "class": ""
          })
          @@include('cards/team-card.html', {
            "logo": "",
            "class": ""
          })
        </div>
        @@include('elements/pagination.html')
      </div>
    </section>
  </div>
  
  @@include('parts/footer.html', {
    "template": "default"
  })