@@include('parts/header.html', {
"title": "Cyber RKSI"
})

<div class="content__inner _page">
  <section class="team-page">
    <div class="container">
      <section class="team-page__section team-page__head">
        <div class="team-page__info">
          <div class="team-page__logo">
            <!-- <img class="team-page__logo-game" src="./assets/img/content/dota.svg" alt="Dota 2"> -->
            <img class="team-page__logo-img" src="./assets/img/content/team.png" alt="Rostik Team">
          </div>
          <div class="team-page__info-content">
            <p class="team-page__game">
              DOTA 2
            </p>
            <h1 class="title team-page__title">
              Rostik Team
            </h1>
            <p class="team-page__users">
              5 участников
            </p>
          </div>
        </div>
        <div class="team-page__head-btns">
          <button class="btn btn-modal team-page__head-btn" data-target="edit-team">
            Редактировать
          </button>
          <button class="btn _purple btn-modal team-page__head-btn" data-target="add-user">
            Добавить участника
          </button>
        </div>
      </section>
      <section class="team-page__section">
        <h2 class="subtitle team-page__subtitle">
          Участники
        </h2>
        <div class="team-page__section-inner">
          @@include('cards/team-user-card.html', {
          "role": "creator"
          })
          @@include('cards/team-user-card.html', {
          "role": "user"
          })
          @@include('cards/team-user-card.html', {
          "role": "user"
          })
          @@include('cards/team-user-card.html', {
          "role": "user"
          })
          @@include('cards/team-user-card.html', {
          "role": "user"
          })
        </div>
      </section>
      <section class="team-page__section">
        <h2 class="subtitle team-page__subtitle">
          Заявки
        </h2>
        <!-- <p class="no-items">
          Заявок пока нет
        </p> -->
        <div class="team-page__section-inner">
          @@include('cards/team-user-card.html', {
          "role": "application"
          })
          @@include('cards/team-user-card.html', {
          "role": "application"
          })
          @@include('cards/team-user-card.html', {
          "role": "application"
          })
          @@include('cards/team-user-card.html', {
          "role": "application"
          })
        </div>
      </section>
      <button class="btn _ghost _red team-page__btn">
        Покинуть команду
      </button>
      <!-- <button class="btn _purple team-page__btn">
        Вступить в команду
      </button> -->
    </div>
  </section>
</div>

@@include('parts/footer.html', {
"template": "post"
})