@@include('parts/header.html', {
"title": "Cyber RKSI"
})

<div class="content__inner _post">
  <section class="post-page tournament">
    <div class="container">
      <div class="post-page__img tournament__img">
        <img src="./assets/img/content/tour-preview.jpg" alt="">
      </div>
      <div class="post-page__inner tournament__inner">
        <div class="post-page__content tournament__content">
          <div class="tournament__head">
            <div class="tournament__logo">
              <img src="./assets/img/content/dota.svg" alt="Dota 2">
            </div>
            <div class="tournament__info">
              <h1 class="title tournament__title">
                <span>
                  Dota 2
                </span>
                <span>
                  Один на один на Shadow Fiend
                </span>
              </h1>
              <div class="tournament-status tournament__status _registration">
                Регистрация
              </div>
            </div>
          </div>
          <ul class="tournament__data">
            <li class="tournament__data-item">
              <div class="tournament__data-title">
                Регистрация
              </div>
              <div class="tournament__data-text">
                31.01.22 – 28.02.22
              </div>
            </li>
            <li class="tournament__data-item">
              <div class="tournament__data-title">
                Проведение
              </div>
              <div class="tournament__data-text">
                01.03.22 – 02.03.22
              </div>
            </li>
            <li class="tournament__data-item">
              <div class="tournament__data-title">
                Время
              </div>
              <div class="tournament__data-text">
                12:30
              </div>
            </li>
            <li class="tournament__data-item">
              <div class="tournament__data-title">
                Кабинет
              </div>
              <div class="tournament__data-text">
                327
              </div>
            </li>
          </ul>
          <div class="tournament__btns">
            <button class="btn _purple btn-modal tournament__btn" data-target="tournament-team">
              Зарегистрироваться
            </button>
            <a href="#" class="btn _ghost tournament__btn">
              Посмотреть сетку
            </a>
          </div>
          <div class="text post-page__text">
            <h2>
              Информация и правила
            </h2>
            <p>
              Игра проходит в кабинете, который выделят на весь день. <br> Участники должны подать заявку до закрытия
              регистрации в последствии чего будут организованы команды и созданы беседы в Вконтакте. <br> Игры будут
              проходить с 12:30 весь день посменно. Одни сыграли, другие ждут.
            </p>
            <h3>
              Запрещается:
            </h3>
            <ul>
              <li>
                Спамить в чат
              </li>
              <li>
                Кричать и выражаться нецензурной бранью
              </li>
              <li>
                Писать GG (сдаваться) и играть после
              </li>
              <li>
                Отвлекать других участников во время игры
              </li>
            </ul>
          </div>
        </div>
        <aside class="post-page__sidebar">
          <div class="post-page__sidebar-item">
            <div class="post-page__socials-box">
              <h3 class="subtitle post-page__socials-title">
                Подписывайтесь на нас
              </h3>
              @@include('elements/socials.html', {
              "class": ""
              })
            </div>
          </div>
          <div class="post-page__sidebar-item _info">
            <div class="sidebar-info">
              <h3 class="subtitle sidebar-info__title">
                Призы
              </h3>
              <ul class="sidebar-info__list">
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Первое место:
                  </span>
                  <span class="sidebar-info__list-text">
                    по 5 кружек, блокнотов, ручек и пакетов
                  </span>
                </li>
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Второе место:
                  </span>
                  <span class="sidebar-info__list-text">
                    по 5 блокнотов, ручек и пакетов
                  </span>
                </li>
              </ul>
            </div>
            <div class="sidebar-info">
              <h3 class="subtitle sidebar-info__title">
                Настройки сервера
              </h3>
              <ul class="sidebar-info__list _horizont">
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Расположение сервера:
                  </span>
                  <span class="sidebar-info__list-text">
                    Стокгольм
                  </span>
                </li>
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Формат:
                  </span>
                  <span class="sidebar-info__list-text">
                    Captains Mode
                  </span>
                </li>
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Читы:
                  </span>
                  <span class="sidebar-info__list-text">
                    Запрещены
                  </span>
                </li>
                <li class="sidebar-info__list-item">
                  <span class="sidebar-info__list-title">
                    Выбор сторон:
                  </span>
                  <span class="sidebar-info__list-text">
                    монеткой
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>

@@include('parts/footer.html', {
"template": "post"
})