@@include('parts/header.html', {
  "title": "Cyber RKSI"
  })
   
  <div class="content__inner _page">
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">
              Cyber RKSI
            </a>
          </li>
          <li class="breadcrumbs__item">
            Турниры
          </li>
        </ul>
      </div>
    </div>
    <h1 class="title page-title">
      <div class="container">
        Турниры
      </div>
    </h1>
    <section class="tournaments">
      <div class="container">
        <div class="tournaments__inner">
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/main.jpg",
            "status": "Скоро",
            "game": "Dota 2",
            "name": "Миксы 5 на 5",
            "game_logo": "../assets/img/content/dota.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "5 000 ₽",
            "class": "tournaments__item"
          })
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/tour-2.png",
            "status": "Регистрация",
            "game": "Counter Strike: Global Offensive",
            "name": "Лучшая команда РКСИ",
            "game_logo": "../assets/img/content/cs.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "Подарки",
            "class": "tournaments__item"
          })
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/tour-3.png",
            "status": "Идет",
            "game": "Dota 2",
            "name": "Один на один на Shadow Fiend",
            "game_logo": "../assets/img/content/dota.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "5 000 ₽",
            "class": "tournaments__item"
          })
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/main.jpg",
            "status": "Завершен",
            "game": "Dota 2",
            "name": "Миксы 5 на 5",
            "game_logo": "../assets/img/content/dota.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "5 000 ₽",
            "class": "tournaments__item"
          })
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/tour-2.png",
            "status": "Скоро",
            "game": "Counter Strike: Global Offensive",
            "name": "Лучшая команда РКСИ",
            "game_logo": "../assets/img/content/cs.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "Подарки",
            "class": "tournaments__item"
          })
          @@include('./cards/tournament-card.html', {
            "img": "../assets/img/content/tour-3.png",
            "status": "Регистрация",
            "game": "Dota 2",
            "name": "Один на один на Shadow Fiend",
            "game_logo": "../assets/img/content/dota.svg",
            "holding": "01.03.2022 – 02.03.2022",
            "registration": "31.01.2022 – 28.02.2022",
            "award": "5 000 ₽",
            "class": "tournaments__item"
          })
        </div>
        @@include('elements/pagination.html')
      </div>
    </section>
  </div>
  
  @@include('parts/footer.html', {
    "template": "default"
  })