<div class="invitation-card">
  <a href="team.html" class="invitation-card__content">
    <div class="invitation-card__logo">
      @@if (logo) {
        <img class="invitation-card__logo-img" src="@@logo" alt="Rostik Team">
      }

      @@if (!logo) {
        <img class="invitation-card__logo-game" src="../assets/img/content/dota.svg" alt="Dota 2">
      }
    </div>
    <div class="invitation-card__info">
      <div class="invitation-card__title">
        Rostik Team
      </div>
      <div class="invitation-card__game">
        DOTA 2
      </div>
    </div>
  </a>
  <div class="invitation-card__btns">
    <button class="invitation-card__btn _access"></button>
    <button class="invitation-card__btn _delete"></button>
  </div>
</div>