<a href="post.html" class="news-card @@class">
  <div class="news-card__preview">
      <div class="news-card__img">
          <img src="@@img" alt="">
      </div>
      <div class="news-card__date">
          @@date
      </div>
  </div>
  <div class="news-card__body">
    <p class="news-card__text">
        @@text
    </p>
  </div>
</a>