<a href="team.html" class="team-card @@class">
  <div class="team-card__content">
    <div class="team-card__logo">
      @@if (logo) {
        <img class="team-card__logo-img" src="@@logo" alt="Dota 2">
      } 
      @@if (!logo) {
        <img class="team-card__logo-game" src="../assets/img/content/dota.svg" alt="Dota 2">
      }
    </div>
    <div class="team-card__info">
      <div class="team-card__name">
        Кибер Котики
      </div> 
      <div class="team-card__users">
        (5 участников)
      </div>
    </div>
  </div>
  <div class="team-card__game">
    DOTA 2
  </div>
</a>