<div class="team-user">
  <a href="profile.html" class="team-user__content">
    <div class="team-user__logo">
      <img src="../assets/img/content/avatar.png" alt="Андрей “Shergarat” Милькович">
    </div>
    <div class="team-user__info">
      @@if (role === 'creator') {
        <div class="team-user__role">
          Создатель команды
        </div>
      }
      @@if (role === 'user') {
        <div class="team-user__role">
          Участник команды
        </div>
      }
      <div class="team-user__name">
        Андрей “Shergarat” Милькович
      </div>
    </div>
  </a>
  @@if (role === 'user') {
  <div class="team-user__btns">
    <button class="team-user__btn _delete"></button>
  </div>
  }
  @@if (role === 'application') {
  <div class="team-user__btns">
    <button class="team-user__btn _access"></button>
    <button class="team-user__btn _delete"></button>
  </div>
  }
</div>