<a href="tournament.html" class="tournament-card @@class">
  <div class="tournament-card__preview">
    <div class="tournament-card__img">
      <img src="@@img" alt="">
    </div>
    @@if (status === 'Регистрация') {
      <div class="tournament-status tournament-card__status _registration">
        @@status
      </div>
    }
    @@if (status === 'Идет') {
      <div class="tournament-status tournament-card__status _playing">
        @@status
      </div>
    }
    @@if (status === 'Завершен') {
      <div class="tournament-status tournament-card__status _completed">
        @@status
      </div>
    }
    @@if (status === 'Скоро') {
      <div class="tournament-status tournament-card__status">
        @@status
      </div>
    }
  </div>
  <div class="tournament-card__content">
    <div class="tournament-card__content-info">
      <div class="tournament-card__game">
        @@game
      </div>
      <div class="tournament-card__name">
        @@name
      </div>
    </div>
    <div class="tournament-card__game-logo">
      <img src="@@game_logo" alt="">
    </div>
  </div>
  <div class="tournament-card__info-box">
    <ul class="tournament-card__info">
      <li class="tournament-card__info-item">
        <span class="tournament-card__info-title">
          Проведение
        </span>
        <span class="tournament-card__info-text">
          @@holding
        </span>
      </li>
      <li class="tournament-card__info-item">
        <span class="tournament-card__info-title">
          Регистрация
        </span>
        <span class="tournament-card__info-text">
          @@registration
        </span>
      </li>
    </ul>
    <div class="tournament-card__award">
      <div class="tournament-card__award-text">
        Призовой фонд
      </div>
      <div class="tournament-card__award-value">
        @@award
      </div>
    </div>
  </div>
</a>